<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>drinkMarket</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>ViewDrinkListServlet</display-name>
		<servlet-name>ViewDrinkListServlet</servlet-name>
		<servlet-class>com.ktds.soowoo.market.drink.web.ViewDrinkListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewDrinkListServlet</servlet-name>
		<url-pattern>/drinkList</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewSignInServlet</display-name>
		<servlet-name>ViewSignInServlet</servlet-name>
		<servlet-class>com.ktds.soowoo.market.user.web.ViewSignInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewSignInServlet</servlet-name>
		<url-pattern>/user/signin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DoLogoutActionServlet</display-name>
		<servlet-name>DoLogoutActionServlet</servlet-name>
		<servlet-class>com.ktds.soowoo.market.user.web.DoLogoutActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoLogoutActionServlet</servlet-name>
		<url-pattern>/user/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>DosignUpServlet</display-name>
		<servlet-name>DosignUpServlet</servlet-name>
		<servlet-class>com.ktds.soowoo.market.user.web.DosignUpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DosignUpServlet</servlet-name>
		<url-pattern>/user/signUp</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewPostImageServlet</display-name>
		<servlet-name>ViewPostImageServlet</servlet-name>
		<servlet-class>com.ktds.soowoo.market.drink.web.ViewPostImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewPostImageServlet</servlet-name>
		<url-pattern>/drink/post</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewDetailServlet</display-name>
		<servlet-name>ViewDetailServlet</servlet-name>
		<servlet-class>com.ktds.soowoo.market.drink.web.ViewDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewDetailServlet</servlet-name>
		<url-pattern>/drink/detail</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DoUpdatePointServlet</display-name>
		<servlet-name>DoUpdatePointServlet</servlet-name>
		<servlet-class>com.ktds.soowoo.market.user.web.DoUpdatePointServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoUpdatePointServlet</servlet-name>
		<url-pattern>/user/updatePoint</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ViewCountryListServlet</display-name>
		<servlet-name>ViewCountryListServlet</servlet-name>
		<servlet-class>com.ktds.soowoo.market.country.web.ViewCountryListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewCountryListServlet</servlet-name>
		<url-pattern>/country/list</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewTypeListServlet</display-name>
		<servlet-name>ViewTypeListServlet</servlet-name>
		<servlet-class>com.ktds.soowoo.market.type.web.ViewTypeListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewTypeListServlet</servlet-name>
		<url-pattern>/type/list</url-pattern>

	</servlet-mapping>
</web-app>