@CHARSET "UTF-8";

#asd {
	text-align: center;
}

#sign {
	display : inline-block;
	
}

#right1 {
	text-align: left;
}

#userId {
	display : inline-block;
}

#userId > input {
	width : 150px
}
#button {
	display : inline-block;
}
#password {
	display : inline-block;
}

#password > input {
	width : 150px
}

#signUp {
	display : inline-block;
}