@CHARSET "UTF-8";

#asd {
	text-align: center;
}

#sign {
	display : inline-block;
	
}

#userId {
	display : inline-block;
}
#button {
	display : inline-block;
}
#password {
	display : inline-block;
}
#signUp {
	display : inline-block;
}